body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1, p, h3{
    text-align: center;
}
table{
    border: 1px solid;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}